<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}" />

    </div>
</head>
<body>
<div th:fragment="header">

    <div th:fragment="header">
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/client/book/">Booking</a>
            <a href="/client/myBookings">My bookings</a>
            <a href="/client/allBookings">All bookings</a>

            <b ><form  th:action="@{/client/myAccount}" method="post">
                <input type="hidden" th:value="${#httpServletRequest.remoteUser}" name="username" />
                <input  type="submit"  class="btn btn-success navbar-btn "   value="My acc"/>
            </form></b>
            <b ><form  th:action="@{/logout}" method="post">
                <input  type="submit" class="btn btn-success navbar-btn "   value="Sign Out"/>
            </form></b>

        </div>

    </div>

<!--    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->

</div>
</body>
</html>